<svg class="logo-shuttleworth" width="349" height="483" viewBox="0 0 349 483" fill="none" xmlns="http://www.w3.org/2000/svg">

    <path class="dot" id="logo-light-bottom-dot" d="M245.377 420.444C242.766 420.444 240.63 422.58 240.63 425.191C240.63 427.801 242.766 429.937 245.377 429.937C247.987 429.937 250.123 427.801 250.123 425.191C250.123 422.58 247.987 420.444 245.377 420.444Z" fill="#27AE3C" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path class="dot" id="logo-light-top-dot" d="M145.947 116.224C143.337 116.224 141.201 118.359 141.201 120.97C141.201 123.58 143.337 125.715 145.947 125.715C148.557 125.715 150.693 123.58 150.693 120.97C150.693 118.359 148.557 116.224 145.947 116.224Z" fill="#27AE3C" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path id="logo-right" d="M264.598 418.547C307.788 399.562 343.858 365.628 343.858 318.168C343.858 266.199 302.329 236.061 302.329 183.38C302.329 169.854 309.448 134.258 328.671 134.258C336.502 134.258 340.061 140.665 340.061 144.937C340.061 152.768 335.79 158.463 319.415 167.718C288.091 185.516 254.632 214.704 254.632 252.435C254.632 262.401 258.903 271.656 268.158 271.656C275.277 271.656 280.972 265.249 280.972 257.418C280.972 233.213 243.953 216.128 243.953 182.668C243.953 168.43 250.36 154.904 250.36 134.258C250.36 58.0844 150.693 44.5582 150.693 17.5057C150.693 11.0986 155.677 5.40332 162.796 5.40332C178.458 5.40332 189.136 31.0319 189.136 50.2534C189.136 90.8321 151.405 135.682 151.405 176.973C151.405 256.706 261.751 293.013 261.751 370.611C261.751 384.375 258.666 396.715 253.445 407.63" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path id="logo-left" d="M129.099 131.411C79.7397 162.735 63.1288 216.603 63.1288 263.114C63.1288 315.083 88.0455 389.121 112.962 389.121C120.793 389.121 125.065 383.426 125.065 378.443C125.065 372.035 120.793 365.628 103.707 358.509C51.7383 337.152 5.46436 299.421 5.46436 261.69C5.46436 252.435 10.4477 244.604 17.5668 244.604C25.3977 244.604 29.6692 252.435 29.6692 264.538C29.6692 275.216 26.8215 294.438 26.8215 309.388C26.8215 382.714 88.7574 442.04 157.1 442.04C204.086 442.04 240.393 416.174 240.393 373.459C240.393 304.404 130.048 271.657 130.048 179.821C130.048 168.905 133.133 154.43 139.066 139.954" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <g id="logo-light-bottom-line">
        <path class="line" d="M242.766 444.888L237.309 477.16" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="line" d="M256.53 442.277L268.395 461.024" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="line" d="M229.478 439.192L212.866 455.566" stroke="#27AE3C" stroke-width="10" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </g>

</svg>

</figure>