@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,500;1,100;1,500&display=swap');
@import 'reset.css';

:root {
  --color-background: hsl(190, 10%, 10%, 1);
  --color-background: hsl(190, 30%, 30%, 1);
  --color-background: hsl(190, 20%, 20%, 1);
  --color-primary: hsl(100, 60%, 80%, 1);
  --color-primarySecond: hsl(100, 60%, 40%, 1);
  --color-green: hsl(90, 75%, 61%, 1);
  --color-greenD: hsl(130, 64%, 42%, 1);
  --color-primary-neon: hsl(100, 80%, 90%, 1);
  --color-green-neon: hsl(90, 95%, 81%, 1);
  --color-greenD-neon: hsl(130, 84%, 62%, 1);
  --color-yellow: hsl(40, 100%, 80%, 1);
  --color-gold: hsl(40, 100%, 60%, 1);

  /* --color-yellow: gold; */


  /* --color-primary-light: rgba(47,172,102,0.2); */
  --color-body: #000000;
  --color-link: var(--color-primary);
  --logoColor: var(--color-primary);
  --font-body: "Work Sans", sans-serif;
  --font-size: 15pt;
  --font-lineHeight: 20pt;
}

*,
* * {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  margin: 0;
  overflow-x: hidden;
  background: var(--color-background);
}

.home .intro {
  height: 90vh;
  display: flex;
}

.home 
.intro
.logo-shuttleworth {
  margin: auto;
}



/* shuttleworth logo first */
.home .logo-shuttleworth {
    overflow: visible;
    /* filter: drop-shadow(1px 1px 9px var(--color-primary)); */
  }
  
  /* .neon */
  .home .logo-shuttleworth [id*="logo-"] {
    stroke-width: 5;
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }
  
  .home .logo-shuttleworth #logo-left {
    stroke: var(--color-green-neon);
    /* animation: blink 20s infinite, buzz 1s infinite; */
  }
  
  .home .logo-shuttleworth #logo-right {
    stroke: var(--color-greenD-neon);
    /* animation: blink 10s infinite, buzz 1s infinite; */
  }
  
  .home .logo-shuttleworth .dot {
    stroke: var(--color-gold);
    fill: var(--color-gold);
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }
  
  .home .logo-shuttleworth .line {
    stroke: var(--color-gold);
    stroke-width: 3;
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }

.home #shuttleworth #logo-left ,
.home #shuttleworth #logo-right  {
    stroke-width: 3;
}

.home .logo {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
}

.home .logo svg {
  width: 100%;
  height: auto;
  margin: 10em auto;
  display: block;
}

.home svg #text path {
  stroke: var(--color-green);
  stroke-width: 8;
}

.home svg .dot {
  stroke: gold;
  fill: gold;
  stroke-width: 3;
}

.home svg .line {
  stroke: gold;
  stroke-width: 5;
}

.home svg path {
  stroke-width: 7;
  stroke: gold;
}

.home svg path[stroke="white"] {
  stroke-width: 3;
  stroke: var(--color-primary, white);
}

.home h2 {
  text-align: center;
  color: var(--color-primary);
  font-size: 2em;
}

.hidden {
  display: none;
}

.home main {
  /* background: white; */
  color: gold;
  width: 50vw;
  font-size: 1em;
  margin: auto;
  line-height: 1.6;
  /* color: white; */
  font-size: 2em;
  font-weight: 200;
  letter-spacing: .12ch;
}

.home main p {
  text-indent: 2em;
  /* margin-left: 2em; */
}

.home main p:first-of-type {
  text-indent: 0;
}

.home main p:first-of-type:first-letter {
    line-height: 0;
    /* font-weight: 900; */
    color: var(--color-gold);
    /* font-weight: 100; */
  }

.home main .baseline {
  font-size: 2.3em;
  font-weight: 300;
  text-align: center;
  margin-top: 3em;
}

.home footer {
  text-align: center;
  margin-top: 10em;
  padding: 2em;
}

.home footer a {
  color: var(--color-primary);
  text-decoration: none;
  padding-bottom: .3em;
  border-bottom: 2px solid var(--color-primary);
}

.home footer a:hover {
  /* border-bottom: 2px solid var(--color-primary); */
  box-shadow: 0 4px 0 0 var(--color-primary);
}

.home {
}

/* neon effect */


.neon {
  text-shadow: 0 0 0 transparent, 0 0 1px var(--color-green), 0 0 20px rgba(255, 0, 60, 0.5), 0 0 4px var(--color-green), 0 0 10px var(--color-green), 0 0 20px var(--color-green), 0 0 30px var(--color-green), 0 0 50px var(--color-green);
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

.coming {
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  color: white;
  letter-spacing: 1ch;
  text-transform: uppercase;
}




/* animate dash array */



.logo-shuttleworth #logo-left,
.logo-shuttleworth #logo-right {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1400;
  animation: dash 1.5s linear forwards;
}

.logo .line-decor {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
   animation: dash 2000ms linear alternate infinite; 
}

@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}

/* mobile */

@media screen and (max-width:600px) {
  .home {
    font-size: 14px;
  }
  .home .intro .logo-shuttleworth {
    width: 50%;
  }
  .home main {
    max-width: unset;
    width: unset;
    font-size: 1.2em;
    padding: 3em;

  }
  .home main p { 
    /* font-size: 1em; */
    margin-left: 0;
  }
}