
/* shuttleworth logo first */
.home .logo-shuttleworth {
    overflow: visible;
    /* filter: drop-shadow(1px 1px 9px var(--color-primary)); */
  }
  
  /* .neon */
  .home .logo-shuttleworth [id*="logo-"] {
    stroke-width: 2;
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }
  
  .home .logo-shuttleworth #logo-left {
    stroke: var(--color-green-neon);
    /* animation: blink 20s infinite, buzz 1s infinite; */
  }
  
  .home .logo-shuttleworth #logo-right {
    stroke: var(--color-greenD-neon);
    /* animation: blink 10s infinite, buzz 1s infinite; */
  }
  
  .home .logo-shuttleworth .dot {
    stroke: var(--color-primary);
    fill: var(--color-primary);
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }
  
  .home .logo-shuttleworth .line {
    stroke: var(--color-primary);
    stroke-width: 5;
    /* filter: drop-shadow(0px 0px 2px var(--color-primary-neon)); */
  }
  
  .home .logo-shuttleworth .dot:nth-of-type(1) {
    /* animation: blink 9s infinite, buzz 3s infinite; */
  }
  
  .home .logo-shuttleworth .dot:nth-of-type(2) {
    /* animation: blink 6s infinite, buzz 3s infinite; */
  }
  
  .home .logo-shuttleworth .line:nth-of-type(1) {
    /* animation: blink 8s infinite, buzz 3s infinite; */
  }
  
  .home .logo-shuttleworth .line:nth-of-type(2) {
    /* animation: blink 8s infinite, buzz 3s infinite; */
  }
  
  .home .logo-shuttleworth .line:nth-of-type(3) {
    /* animation: blink 29s infinite, buzz 3s infinite; */
  }