<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{site.siteName}}</title>
    <meta name="description" content="{{site.Description}}">
    <meta name="keywords" content="{{site.Keywords}}">
    <meta name="author" content="{{site.Authors}}">
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link rel="manifest" href="site.webmanifest"> #}
    {# <link rel="apple-touch-icon" href="icon.png"> #}
    {% block styles %}
      <link rel="stylesheet" href="css/master.css">
    {% endblock %}

  </head>

  <body class="{{class}}">
    <section class="intro">
      {% include "modules/logo-shuttleworth.njk" %}
    </section>
    <h1 class="hidden">title</h1>
        

    <main>
      {{content | safe}}
      <h2 class="baseline">{{baseline}}</h2>

    </main>
    {% include "modules/logo.njk" %}

  <p class="coming">Coming soon</p>

    {% include "modules/menu.njk" %}

    <footer>
      <a href="https://shuttleworthfoundation.org/">{{subtitle}}</a>
    </footer>

  </body>